@tailwind base;
@tailwind components;
@tailwind utilities;


.neo {
  box-shadow: 4px 4px #000;
  border: 1px solid #000;
  background-color: #fff;
}

.editable:empty:before {
  content: attr(data-placeholder);
  color: #969696;
}

.editable {
  outline: none;
}